.modal
.step 1
.strict S
button.restart(onClick="initialPrompt(false)") R
.startscreen.visible
	h1 Simons game 
	button(onClick="initialPrompt(false)") Start Game
.board
	.row
		.box#blue(onclick="userStateListener('blue')")
		.box#green(onclick="userStateListener('green')")
	.row
		.box#red(onclick="userStateListener('red')")
		.box#yellow(onclick="userStateListener('yellow')")
audio#sound